{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/bulma/css/bulma.css' %}" type="text/css" charset="utf-8">
</head>

<body>
<div class="container">
  <section class="is-fluid body-style">
    <div class="columns">
      <div class="column is-three-quarters">
        <div id="content" class="container">
          {% block content %} {% endblock content %}
        </div>
      </div>
      <div class="column is-one-quarter">
        <aside id="sidebar" class="section">
          <h2 class="title is-2">This is my personal blog</h2>
          <p>Yep, still mine!</p>
        </aside>
      </div>
    </div>
  </section>
</div>
</body>


</html>