{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/bulma/css/bulma.css' %}" type="text/css" charset="utf-8">
</head>

<body>
<div class="container">
  <section class="is-fluid body-style">
    <div class="columns">
      <div class="column is-three-quarters">
        <div id="content">
          {% block content %} {% endblock content %}
        </div>
      </div>
      <div class="column is-one-quarter">
        <aside id="sidebar" class="section">
          <h2 class="title is-2">This is my personal blog</h2>
          <p>Total posts: {% total_posts %}</p>
          <div>
            <h4 class="title is-4">Most recent posts</h4>
            {% show_latest_posts 5 %}
          </div>
          <div>
            <h4 class="title is-4">Most commented posts</h4>
            <ul>
              {% most_commented_posts as posts%}
              {% for post in posts %}
                <li>
                  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>
</body>


</html>